.macbookpro16"-1
{
width:1920px;
height:1080px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.starttouseourpossystem
{
text-align:left;
vertical-align:text-top;
font-size:66px;
font-family:Inter;
line-height:auto;
color:#000000;
left:77px;
top:423px;
position:absolute;
}
.letssigninhere!
{
text-align:left;
vertical-align:text-top;
font-size:66px;
font-family:Inter;
left:77px;
top:503px;
width:549px;
height:80px;
position:absolute;
line-height:auto;
color:#000000;
}
.emailinput
{
width:596px;
height:58px;
top:600px;
left:82px;
position:absolute;
}
.rectangle2
{
border-radius:17px;
width:596px;
height:58px;
background-color:#d9d9d9;
top:600px;
left:82px;
position:absolute;
}
.enteryouremailtogetstarted
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:92px;
top:607px;
width:519px;
height:44px;
position:absolute;
line-height:auto;
color:rgba(0, 0, 0, 0.4000000059604645);
}
.buttoninput
{
width:219px;
height:55px;
top:603px;
left:723px;
position:absolute;
}
.rectangle3
{
border-radius:36px;
width:219px;
height:55px;
background-color:#d9d9d9;
top:603px;
left:723px;
position:absolute;
}
.letsgo!
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:761px;
top:608px;
width:142px;
height:44px;
position:absolute;
line-height:auto;
color:#000000;
}
.menubar
{
width:1920px;
height:100px;
position:absolute;
}
.topbar
{
width:1920px;
height:100px;
background-color:#d9d9d9;
border:1px solid #000000;
}
.middlebuttongroup
{
width:1000px;
height:52px;
left:460px;
top:26px;
position:absolute;
}
.aboutus
{
width:208px;
height:49px;
top:26px;
left:1252px;
position:absolute;
}
.rectangle1
{
width:208px;
height:49px;
background-color:#d9d9d9;
border:1px solid #000000;
top:26px;
left:1252px;
position:absolute;
}
.aboutus2
{
text-align:left;
vertical-align:text-top;
font-size:27px;
font-family:Inter;
left:1299px;
top:34px;
width:115px;
height:33px;
position:absolute;
line-height:auto;
color:#000000;
}
.services
{
width:208px;
height:49px;
top:26px;
left:988px;
position:absolute;
}
.rectangle12
{
width:208px;
height:49px;
background-color:#d9d9d9;
border:1px solid #000000;
top:26px;
left:988px;
position:absolute;
}
.services2
{
text-align:left;
vertical-align:text-top;
font-size:27px;
font-family:Inter;
left:1037px;
top:34px;
width:110px;
height:33px;
position:absolute;
line-height:auto;
color:#000000;
}
.pricing
{
width:208px;
height:49px;
top:29px;
left:724px;
position:absolute;
}
.rectangle13
{
width:208px;
height:49px;
background-color:#d9d9d9;
border:1px solid #000000;
top:29px;
left:724px;
position:absolute;
}
.pricing2
{
text-align:left;
vertical-align:text-top;
font-size:27px;
font-family:Inter;
left:784px;
top:37px;
width:88px;
height:33px;
position:absolute;
line-height:auto;
color:#000000;
}
.home
{
width:208px;
height:49px;
top:29px;
left:460px;
position:absolute;
}
.rectangle14
{
width:208px;
height:49px;
background-color:#d9d9d9;
border:1px solid #000000;
top:29px;
left:460px;
position:absolute;
}
.home2
{
text-align:left;
vertical-align:text-top;
font-size:27px;
font-family:Inter;
left:526px;
top:37px;
width:76px;
height:33px;
position:absolute;
line-height:auto;
color:#000000;
}
.button3
{
width:208px;
height:49px;
top:26px;
left:1675px;
position:absolute;
}
.rectangle15
{
border-radius:30px;
width:208px;
height:49px;
background-color:#d9d9d9;
border:1px solid #000000;
top:26px;
left:1675px;
position:absolute;
}
.login
{
text-align:left;
vertical-align:text-top;
font-size:27px;
font-family:Inter;
left:1744px;
top:34px;
width:70px;
height:33px;
position:absolute;
line-height:auto;
color:#000000;
}
.ethnabpossystem
{
text-align:left;
vertical-align:text-top;
font-size:35px;
font-family:Inter;
left:32px;
top:29px;
width:308px;
height:42px;
position:absolute;
line-height:auto;
color:#000000;
}